<div class="row row-cols-1 row-cols-md-3 g-4">
  <% posts.each do |post| %>
  <div class="col mb-3">
    <div class="card shadow-sm postIndex h-100">
      <div class="card-body">
        <%= link_to post_path(post) do %>
          <h5 class="card-title" style="height: 10px;"><small><%= post.title.truncate(8) %></small></h5>
          <p class="card-text" style="height: 90px;"><%= post.body.truncate(20) %></p>
        <% end %>
        <div class="card-text">
          <hr>
          <%= link_to user_path(post.user) do %>
            <%= image_tag post.user.get_profile_image(50,50), class: "rounded-circle border" %>
            <%= post.user.name %>
          <% end %>
          <div class="text-bottom text-right">
            <i class="far fa-folder"></i> <%= post.bookmarks.count %>
            <i class="far fa-comment"></i> <%= post.comments.count %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>
</div>