<div class="container">
  <div class="row">
    <div class="card w-100">
      <div class="card-header bg-transparent">
        <div class="row">
        <div class="col align-self-start">
          <%= image_tag @post.user.get_profile_image(50,50), class: "rounded-circle border" %>
          <span class="h5 ml-3"><%= link_to @post.user.name, admin_user_path(@post.user) %></span>
        </div>
        <div class="col align-self-end text-right">
          <%= link_to admin_post_path(@post), method: :delete, data: {confirm: "削除しますか？"}, class: "btn rounded-circle postDelete" do %>
            <i class="fa-solid fa-trash"></i>
          <% end %><br>
          <%= @post.area.name %><br>
          <%= l @post.created_at %>
        </div>
        </div>
      </div>
      <div class="card-body">
        <h1 class="card-title"><%= @post.title %></h1>
        <div class="card-text"><%= simple_format(@post.body) %>

          <%= image_tag @post.get_post_image(100,100) %>
        </div>
      </div>
      <div class="card-footer bg-transparent text-right">
        <% @post_tags.each do |tag| %>
          <i class="fa-sharp fa-solid fa-tag"></i>
          <%= link_to tag.name, admin_posts_path(tag_id: tag.id) %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row mt-3">
    <table class="table ">
      <% @post.comments.each do |comment| %>
        <tr>
          <td width="10%">
            <%= link_to admin_user_path(comment.user) do %>
              <%= image_tag comment.user.get_profile_image(50,50), class: "rounded-circle border" %><br>
              <%= comment.user.name %>
            <% end %>
          </td>
          <td width="90%">
            <div class="card">
              <div class="card-body">
                <div class="card-text">
                    <%= simple_format comment.content %>
                </div>
                <div class="text-right">
                    <%= link_to admin_post_comment_path(comment.post, comment), method: :delete, data: {confirm: "削除しますか？"} do %>
                      <i class="fas fa-trash text-dark"></i>
                    <% end %>
                </div>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>