<%= render "layouts/error", obj: @area %>
<%= form_with model: [:admin, @area], url: admin_areas_path do |f| %>
  <div class="form-group">
    <%= f.text_field :name, class: "form-control" %>
    <div class="text-right">
      <%= f.submit "登録", class: "btn greenBtn mt-2" %>
    </div>
  </div>
<% end %>

<table class="table border">
  <tbody>
    <% @areas.each do |area| %>
      <tr>
        <td>
          <div id="area-name">
            <%= area.name %>
          </div>
          <div id="area-edit-form" style="display: none;">
            <%= form_with model: [:admin, area] do |f| %>
              <div class="form-group">
                <%= f.text_field :name, class: "form-control" %>
                <div class="text-right">
                  <%= f.submit "更新", class: "btn greenBtn mt-2" %>
                </div>
              </div>
            <% end %>
          </div>
        </td>
        <td>
          <i id="area-edit" class="far fa-edit btn"></i>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<script>
  document.getElementById('area-edit').addEventListener('click', function() {
    document.getElementById('area-name').style.display = 'none';
    document.getElementById('area-edit-form').style.display = 'block';
  });
</script>
