

<div class="d-flex flex-column flex-shrink-0 p-3 bg-light" style="width: 280px; height: 100vh;">

  <%= link_to root_path, class:"navbar-brand p-3" do %>
    <%= image_tag "logo.png", size: "150x150", class: "logo" %>
  <% end %>


  <ul class="nav nav-pills flex-column mb-4">
    <li class="nav-item">
      <%= link_to root_path do %>
        <i class="fas fa-home"></i> HOME
      <% end %>
    </li>
    <li>
      <%= link_to about_path do %>
        <i class="fas fa-question-circle"></i> GUIDE
      <% end %>
    </li>
    <li>
      <%= link_to mypage_path do %>
        <i class="fas fa-id-card"></i> MY PAGE
      <% end %>
    </li>
    <li class="nav-item btn signbtn px-5">
      <% if user_signed_in? %>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fas fa-sign-out-alt"></i> Log out
        <% end %>
      <% elsif admin_signed_in? %>
        <%= link_to destroy_admin_session_path, method: :delete do %>
          <i class="fas fa-sign-out-alt"></i> Log out
        <% end %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <i class="fas fa-sign-in-alt"></i> Log in
        <% end %>
      <% end %>
    </li>
  </ul>

  <div class="container-fluid py-4 border-top border-bottom">
    <%= link_to new_user_registration_path, class: "btn btn-block signUpBtn" do %>
      <i class="fas fa-user-plus"></i> 新規登録はこちら
    <% end %>
  </div>

  <div class="container-fluid mt-4">
    <span>公式アカウント</span>
    <div class="acountBtn text-center mt-3">
      <%= link_to "#", class: "mr-3" do %>
        <i class="fab fa-twitter fa-2x"></i>
      <% end %>
      <%= link_to "#" do %>
        <i class="fab fa-instagram fa-2x"></i>
      <% end %>
    </div>
  </div>

  <div class="container-fluid py-4 border-top border-bottom">
    <%= link_to users_guest_sign_in_path, method: :post, class: "btn btn-block signUpBtn" do %>
      <i class="fas fa-sign-in-alt"></i> ゲストログイン
    <% end %>
  </div>


</div>