<!DOCTYPE html>
<html>
  <head>
    <title>FOAF</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/1faa2f517c.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render 'layouts/flash' %>
      <%= render 'layouts/header' %>
      <div class="row">
        <div class="col-lg-3 d-none d-lg-block">
          <%= render "layouts/sidemenu" %>
        </div>
        <div class="col-12 col-lg-7 offset-lg-1">
          <% unless admin_signed_in? %>
            <div class="form-group mt-3">
              <%= form_with url: posts_path, method: :get, local: true, class: "" do |f| %>
                <%= f.text_field :search, placeholder: "キーワード検索｜#タグ検索｜@エリア検索", class: "form-control"%>
              <% end %>
            </div>
          <% end %>
          <div class="mt-5">
            <%= yield %>
          </div>
        </div>
        <div class="col-lg-1 d-none d-lg-block post">
          <% unless admin_signed_in? %>
            <%= link_to new_post_path, class: "btn postBtn shadow" do %>
              <i class="fas fa-pen fa-4x"></i>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
