<!DOCTYPE html>
<html>
  <head>
    <title>FOAF</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/1faa2f517c.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <div class="row">
        <div class="col-3">
          <%= render "layouts/sidemenu" %>
        </div>
        <div class="col-7 offset-1">
          <div class="form-group mt-3">
            <%= form_with url: posts_path, method: :get, local: true, class: "" do |f| %>
              <%= f.text_field :search, placeholder: "Search", class: "form-control"%>
            <% end %>
          </div>
          <div class="mt-5">
            <%= notice %>
            <%= alert %>
            <%= yield %>
          </div>
        </div>
        <div class="col-1 post">
            <%= link_to new_post_path, class: "btn postBtn" do %>
              <i class="fas fa-pen fa-4x"></i>
            <% end %>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
